extends ../../layouts/main

block body
    .surface.admin_panel.showing
        .button_holder
            .refreshclients.button Force Refresh

block pagespecific_scripts
    script(type="text/javascript")
        include scripts.js