extends ../../layouts/main

block body
    .t_tests T TESTS
    .html5video
        video(width="320", height="240", controls)
            source(src="/videos/tulips.mp4", type="video/mp4")
    .link_to_vid(style="padding: 100px 20px; font-size: 22px;")
        a(href="http://www.w3schools.com/html/html5_video.asp") HTML 5 video demo

block pagespecific_scripts
    script(type="text/javascript")
        include scripts.js