extends ../../layouts/main

block body
    .thought_bubble.buffer(style="background-image: url(/images/1.jpg);")
    .thought_bubble.main(style="background-image: url(/images/1.jpg);")

block pagespecific_scripts
    script(type="text/javascript")
        include scripts.js