extends ../../layouts/main

block body
    #tb_id(data-thoughtbubble_id="#{thoughtbubble_id}")
    .surface.thought_bubble.buffer(class="tbid-#{thoughtbubble_id}", style="background-image: url(/images/1.jpg);")
        .note buffer
    .surface.thought_bubble.main(class="tbid-#{thoughtbubble_id}", style="background-image: url(/images/1.jpg);")
        .note main

block pagespecific_scripts
    script(type="text/javascript")
        include scripts.js
    script(type="text/javascript")
        include comms.js