extends ../../layouts/main

block body
    .surface.thought_bubble.buffer()
        .note buffer
    .surface.thought_bubble.main()
        .note main

block pagespecific_scripts
    script(type="text/javascript")
        include scripts.js
    script(type="text/javascript")
        include comms.js