extends ../../layouts/main

block body
    .surface.latest.thought_bubble.buffer.showing(style="background-image: url('/latest_sitter/#{latest_filename}');")
        .note buffer
    .surface.latest.thought_bubble.main.showing(style="background-image: url('/latest_sitter/#{latest_filename}');")
        .note main

block pagespecific_scripts
    script(type="text/javascript")
        include scripts.js
    script(type="text/javascript")
        include comms.js