extends ../../layouts/main

block body
    .surface.loopinggif.showing(style="background-image: url(/gifs/ballet-tweaked-32.gif);")
        .note looping_gifs

block pagespecific_scripts
    script(type="text/javascript")
        include scripts.js