@mixin basic-transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    transition: $property;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    -webkit-transform: transale3d(0,0,0); 
    transform: transale3d(0,0,0); 
}
@mixin clearfix {
    zoom: 1;
    &:before { content: ''; display: block; }
    &:after { content: ''; display: table; clear: both; }
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    color: #fff;
    font-size: 16px;
    height: 100%;
    width: 100%;

    font-family: 'Open Sans' !important;
    font-style: normal;
    font-weight: 400;
}

.supercontainer {
    background: #000;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &.testing {
        .surface {
            .note {
                display: block;
            }
        }
    }
}

.surface {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    background-position: center center;
    background-repeat: no-repeat;

    &.transitions {
        @include basic-transition( opacity 1.37s );
    }
    &.showing {
        opacity: 1;
    }

    .note {
        display: none;
        position: absolute;
        top: 10px;
        font-weight: 600;
        font-size: 40px;
    }
    &.thought_bubble {
        background-color: #000;
        //background-size: contain;
        background-size: 444px;
    }
    &.bg {
        background-color: #fff;
        color: #000;

        background-image: url(/images/haworth-logo.png);
        background-size: 42%;
    }
    &.buffer {
        .note {
            left: 10px;
        }
    }
    &.main {
        .note {
            right: 10px;
        }
    }
    &.loopinggif {
        background-size: contain;
        background-color: #010101;
    }

    &.admin_panel {
        font-size: 1.2em;
        color: #333;
        padding: 15px;
    }

    &.information_page {
        color: #272727;
        background-color: #fafafa;

        .info_container {
            padding: 15px;

            .chairs {
                @include clearfix;
            }

            .chair {
                width: 50%;
                float: left;
                text-align: center;

                .fs {
                    background-color: #eaeaea;
                    padding: 20px 0;
                    font-size: 2.5em;

                    &.fs-0, &.fs-1 {
                        margin-right: 15px;
                    }
                    &.fs-2, &.fs-3 {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

.button {
    cursor: pointer;
    display: inline-block;
}

.t_tests {
    // -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    //transition: background-color 2s;
    @include basic-transition( background-color 2s linear );

    background-color: #666;
    color: #f0f;
    text-align: center;
    padding: 100px;

    &:hover {
        background-color: #111;
        color: #fff;
    }
}