body {
	background: #000;
    color: #fff;

    height: 100%;
    width: 100%;
}

.supercontainer {
    width: 100%;
    height: 100%;
}

.thought_bubble {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}